<!DOCTYPE html>
<html lang="en" ng-app="restaurant">
  <head>
    <meta charset="UTF-8">
    <title>Restaurant Pricing</title>
    <script src="lib/angular.js"></script>
    <script src="app.js"></script>
    <script src="controllers/IceCreamController.js"></script>
    <script src="controllers/PizzaController.js"></script>
    <script src="services/ProductsFactory.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <h1 class="well">Restaurant Pricing</h1><br />


      <div ng-controller="PizzaCtrl">
        <div class="page-header">
          <h3>Pizza Register</h3>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <h2>Current Products in Basket:</h2>
            <ul>
              <li ng-show="filtered.length"><em>Pizza</em>
                <ul>
                  <li ng-repeat="item in filtered = (basket | filter:{foodCategory: 'pizza'})">
                    {{item.type + " $" + item.price.toFixed(2)}}
                  </li>
                </ul>
              </li>
              <li ng-show="filtered.length"><em>Other</em>
                <ul>
                  <li ng-repeat="item in filtered = (basket | filter:{foodCategory:'!pizza'})">
                    {{item.type + " $" + item.price.toFixed(2)}}
                  </li>
                </ul>
              </li>
            </ul>
            <h4> Pizza Total: ${{ProductFactory.categoryPurchaseAmount('pizza').toFixed(2)}}</h4>
            <h4>Grand Total: ${{ProductFactory.totalPurchaseAmount().toFixed(2)}}</h4>
          </div>

          <div class="col-sm-6 well">
            <h2>Add pizza:</h2>
            <form ng-submit="addPizza()" role="form">
              <div class="radio">
                <span ng-repeat="item in filtered = (ProductFactory.offeredItems | filter:{foodCategory: 'pizza'})">
                    <label for="{{item.type}}">
                    <input type="radio" ng-model="$parent.pizzaPie" id="{{item.type}}"
                      name="pizzaChoice" ng-value="{{item}}">
                      {{item.type + " $" + item.price.toFixed(2)}}
                    </label>
                  <span>
              </div>
              <button type="submit" class="btn">Add</button>
            </form>
          </div>
        </div>
      </div>


      <div ng-controller="IceCreamCtrl">
        <div class="page-header">
          <h3>Ice Cream Register</h3>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <h2>Current Products in Basket:</h2>

            <ul>
              <li ng-show="filtered.length"><em>Ice Cream</em>
                <ul>
                  <li ng-repeat="item in filtered = (basket | filter:{foodCategory: 'ice cream'})">
                    {{item.type + " $" + item.price.toFixed(2)}}
                  </li>
                </ul>
              </li>
              <li ng-show="filtered.length"><em>Other</em>
                <ul>
                  <li ng-repeat="item in filtered = (basket | filter:{foodCategory:'!ice cream'})">
                    {{item.type + " $" + item.price.toFixed(2)}}
                  </li>
                </ul>
              </li>
            </ul>
            <h4> Ice Cream Total: ${{ProductFactory.categoryPurchaseAmount('ice cream').toFixed(2)}}</h4>
            <h4>Grand Total: ${{ProductFactory.totalPurchaseAmount().toFixed(2)}}</h4>
          </div>

          <div class="col-sm-6 well">
            <h2>Add ice cream:</h2>
            <form ng-submit="addIceCream()" role="form">
              <div class="radio">
                <span ng-repeat="item in filtered = (ProductFactory.offeredItems | filter:{foodCategory: 'ice cream'})">
                    <label for="{{item.type}}">
                    <input type="radio" ng-model="$parent.iceCream" id="{{item.type}}"
                      name="iceCreamChoice" ng-value="{{item}}">
                      {{item.type + " $" + item.price.toFixed(2)}}
                    </label>
                  <span>
              </div>
              <button type="submit" class="btn">Add</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
